@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
body, html {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #3C3C3B; }

a {
  color: #3C3C3B; }
  a:hover {
    color: #3C3C3B;
    text-decoration: none; }

.slick-arrow {
  width: 50px;
  height: 27px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  top: auto;
  bottom: 5%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 10px 1px rgba(178, 178, 178, 0.2);
          box-shadow: 0 2px 10px 1px rgba(178, 178, 178, 0.2);
  -webkit-transition: background-color .2s;
  transition: background-color .2s; }
  @media screen and (max-width: 1199px) {
    .slick-arrow {
      bottom: 0; } }
  @media screen and (max-width: 767px) {
    .slick-arrow {
      bottom: auto;
      top: 29px;
      left: 0;
      right: 0;
      margin: auto; } }
  .slick-arrow:before {
    font-size: 15px;
    margin-top: -8px;
    display: block;
    color: #a6a6a6;
    -webkit-transform: scale(1, 2.5);
            transform: scale(1, 2.5); }
  .slick-arrow:hover {
    background-color: #d3ada8;
    border-color: transparent; }
    .slick-arrow:hover::before {
      color: white; }

.slick-next {
  right: 52%; }
  @media screen and (max-width: 767px) {
    .slick-next {
      right: -60px; } }
  .slick-next:before {
    content: '>'; }

.slick-prev {
  left: 38%; }
  @media screen and (max-width: 1199px) {
    .slick-prev {
      left: 36%; } }
  @media screen and (max-width: 991px) {
    .slick-prev {
      left: 32%; } }
  @media screen and (max-width: 767px) {
    .slick-prev {
      left: -60px; } }
  .slick-prev:before {
    content: '<'; }

.header {
  background-color: #FEFEFE;
  padding-top: 10px;
  position: relative;
  height: 130px; }
  @media screen and (max-width: 1023px) {
    .header {
      height: 100px; } }
  @media screen and (max-width: 767px) {
    .header {
      display: none; } }
  .header .blog-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px; }
    @media screen and (max-width: 1023px) {
      .header .blog-row {
        margin-left: -15px; } }
    .header .blog-row .blog-link {
      width: 10%;
      border-right: 1px solid #a6a6a6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 0 30px; }
      @media screen and (max-width: 1023px) {
        .header .blog-row .blog-link {
          padding: 0 15px; } }
      .header .blog-row .blog-link:last-of-type {
        border-right: none; }
        .header .blog-row .blog-link:last-of-type svg {
          margin-bottom: 5%; }
      .header .blog-row .blog-link svg {
        width: 100%;
        height: auto; }
      .header .blog-row .blog-link:hover .cls-1 {
        fill: #d3ada8; }
  .header #main-logo {
    position: absolute;
    width: 170px;
    height: auto;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto; }
    @media screen and (max-width: 1023px) {
      .header #main-logo {
        width: 130px; } }

.nav-section .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0; }
  @media screen and (max-width: 1199px) {
    .nav-section .nav-bar {
      padding: 10px 0; } }
  @media screen and (max-width: 1023px) {
    .nav-section .nav-bar {
      padding: 7px 0; } }
  @media screen and (max-width: 767px) {
    .nav-section .nav-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 20px 0; } }
  .nav-section .nav-bar .nav-item {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #3C3C3B;
    text-transform: uppercase;
    cursor: pointer; }
    @media screen and (max-width: 1600px) {
      .nav-section .nav-bar .nav-item {
        font-size: 14px; } }
    @media screen and (max-width: 1199px) {
      .nav-section .nav-bar .nav-item {
        font-size: 12px; } }
    @media screen and (max-width: 767px) {
      .nav-section .nav-bar .nav-item {
        padding: 3px 0; } }
    .nav-section .nav-bar .nav-item:hover {
      text-decoration: underline;
      -webkit-text-decoration-color: #AAAAA9;
              text-decoration-color: #AAAAA9; }

@media screen and (max-width: 991px) {
  .nav-section .nav-item {
    font-size: 10px !important; } }

@media screen and (max-width: 767px) {
  .nav-section {
    display: none; } }

.top-content .slider {
  position: relative; }
  .top-content .slider:after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    right: 0;
    margin: auto;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #a6a6a6; }
    @media screen and (max-width: 767px) {
      .top-content .slider:after {
        display: none; } }
  .top-content .slider .content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 767px) {
      .top-content .slider .content-item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-top: 50px; } }
    .top-content .slider .content-item .text-part {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      @media screen and (max-width: 1023px) {
        .top-content .slider .content-item .text-part {
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .text-part {
          width: 100%;
          text-align: center; } }
    .top-content .slider .content-item .upper-title {
      font-size: 17px;
      font-weight: 700;
      color: #d3ada8;
      margin-top: 30px; }
      @media screen and (max-width: 1600px) {
        .top-content .slider .content-item .upper-title {
          font-size: 19px; } }
      @media screen and (max-width: 1023px) {
        .top-content .slider .content-item .upper-title {
          font-size: 15px;
          margin-top: 10px; } }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .upper-title {
          width: 100%;
          margin-bottom: 6px; } }
    .top-content .slider .content-item h2 {
      font-size: 33px;
      font-weight: 700;
      line-height: 45px;
      margin-bottom: 15px; }
      @media screen and (max-width: 1600px) {
        .top-content .slider .content-item h2 {
          font-size: 28px;
          line-height: 38px;
          padding-right: 20%; } }
      @media screen and (max-width: 1199px) {
        .top-content .slider .content-item h2 {
          padding: 0; } }
      @media screen and (max-width: 1023px) {
        .top-content .slider .content-item h2 {
          font-size: 21px;
          line-height: 28px;
          margin: 0; } }
    .top-content .slider .content-item .mobileImg {
      display: none; }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .mobileImg {
          display: block;
          width: 100%;
          margin: 0 auto; } }
    .top-content .slider .content-item .description {
      font-size: 14px;
      padding-right: 30%; }
      @media screen and (max-width: 1600px) {
        .top-content .slider .content-item .description {
          padding-right: 10%;
          font-size: 15px; } }
      @media screen and (max-width: 1199px) {
        .top-content .slider .content-item .description {
          padding: 0; } }
      @media screen and (max-width: 1023px) {
        .top-content .slider .content-item .description {
          font-size: 13px; } }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .description {
          width: 100%;
          margin: 0 auto 15px auto; } }
    .top-content .slider .content-item .button {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      background-color: #C2948E;
      padding: 10px 55px;
      cursor: pointer;
      -webkit-transition: -webkit-box-shadow .2s;
      transition: -webkit-box-shadow .2s;
      transition: box-shadow .2s;
      transition: box-shadow .2s, -webkit-box-shadow .2s;
      margin-top: auto;
      margin-bottom: 30px; }
      @media screen and (max-width: 1600px) {
        .top-content .slider .content-item .button {
          font-size: 17px; } }
      @media screen and (max-width: 1199px) {
        .top-content .slider .content-item .button {
          font-size: 14px; } }
      @media screen and (max-width: 1023px) {
        .top-content .slider .content-item .button {
          font-size: 12px;
          padding: 5px 20px; } }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .button {
          font-size: 15px;
          padding: 10px 55px;
          margin: 0 auto; } }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .button {
          padding: 10px 45px; } }
      .top-content .slider .content-item .button:hover {
        -webkit-box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4);
                box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4); }
      @media screen and (max-width: 1023px) {
        .top-content .slider .content-item .button {
          margin-top: 0;
          margin-bottom: 10px; } }
    .top-content .slider .content-item .img-part {
      width: 50%;
      position: relative; }
      @media screen and (max-width: 767px) {
        .top-content .slider .content-item .img-part {
          display: none; } }
      .top-content .slider .content-item .img-part:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(15%, rgba(255, 255, 255, 0.4)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(85%, rgba(255, 255, 255, 0.4)), to(#fff));
        background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.4) 15%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 85%, #fff 100%); }
      .top-content .slider .content-item .img-part img {
        width: 100%;
        height: auto; }

.nav-category .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0; }
  @media screen and (max-width: 1199px) {
    .nav-category .nav-bar {
      padding: 10px 0; } }
  @media screen and (max-width: 1023px) {
    .nav-category .nav-bar {
      padding: 7px 0; } }
  @media screen and (max-width: 767px) {
    .nav-category .nav-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 20px 0; } }
  .nav-category .nav-bar .nav-item {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #3C3C3B;
    text-transform: uppercase;
    cursor: pointer; }
    @media screen and (max-width: 1600px) {
      .nav-category .nav-bar .nav-item {
        font-size: 14px; } }
    @media screen and (max-width: 1199px) {
      .nav-category .nav-bar .nav-item {
        font-size: 12px; } }
    @media screen and (max-width: 767px) {
      .nav-category .nav-bar .nav-item {
        padding: 3px 0; } }
    .nav-category .nav-bar .nav-item:hover {
      text-decoration: underline;
      -webkit-text-decoration-color: #AAAAA9;
              text-decoration-color: #AAAAA9; }

.nav-category .nav-bar {
  padding-top: 0; }
  @media screen and (max-width: 1023px) {
    .nav-category .nav-bar {
      padding-bottom: 3px; } }
  .nav-category .nav-bar .nav-item {
    font-size: 10px;
    text-transform: none; }
    @media screen and (max-width: 1600px) {
      .nav-category .nav-bar .nav-item {
        font-size: 13px; } }
    .nav-category .nav-bar .nav-item:hover {
      color: black; }
  .nav-category .nav-bar .search {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 1600px) {
      .nav-category .nav-bar .search {
        width: 20%; } }
    @media screen and (max-width: 1023px) {
      .nav-category .nav-bar .search {
        display: none; } }
    @media screen and (max-width: 767px) {
      .nav-category .nav-bar .search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 70%;
        margin-top: 30px; } }
    @media screen and (max-width: 424px) {
      .nav-category .nav-bar .search {
        width: 100%; } }
    .nav-category .nav-bar .search span {
      font-size: 17px;
      font-weight: 700; }
      @media screen and (max-width: 1600px) {
        .nav-category .nav-bar .search span {
          font-size: 14px; } }
    .nav-category .nav-bar .search input {
      width: 80%;
      border: 1px solid #a6a6a6;
      border-radius: 3px;
      margin-left: 30px;
      font-size: 9px;
      padding: 6px 23px 6px 10px; }
      @media screen and (max-width: 1600px) {
        .nav-category .nav-bar .search input {
          margin-left: 15px;
          font-size: 12px; } }
      .nav-category .nav-bar .search input::-webkit-input-placeholder {
        font-weight: 300; }
      .nav-category .nav-bar .search input:-ms-input-placeholder {
        font-weight: 300; }
      .nav-category .nav-bar .search input::-ms-input-placeholder {
        font-weight: 300; }
      .nav-category .nav-bar .search input::placeholder {
        font-weight: 300; }
    .nav-category .nav-bar .search svg {
      display: inline-block;
      position: absolute;
      right: 4px;
      top: 4px;
      width: 16px;
      height: auto; }

.main-block {
  padding-top: 20px;
  padding-bottom: 55px; }
  @media screen and (max-width: 1023px) {
    .main-block {
      padding-top: 10px; } }
  @media screen and (max-width: 767px) {
    .main-block {
      padding-bottom: 20px; } }
  .main-block .main-content .single-post {
    padding-bottom: 30px; }
    @media screen and (max-width: 767px) {
      .main-block .main-content .single-post {
        text-align: center; } }
    .main-block .main-content .single-post .img_wrapper {
      width: 100%;
      height: auto;
      position: relative; }
      .main-block .main-content .single-post .img_wrapper:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.73)), color-stop(20%, rgba(0, 0, 0, 0.35)), color-stop(50%, rgba(0, 0, 0, 0)));
        background: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.35) 20%, rgba(0, 0, 0, 0) 50%); }
      .main-block .main-content .single-post .img_wrapper img {
        width: 100%;
        height: auto; }
    .main-block .main-content .single-post .tags {
      font-size: 10px;
      color: #C3C3C3;
      margin: 16px 0; }
      @media screen and (max-width: 1600px) {
        .main-block .main-content .single-post .tags {
          font-size: 12px;
          margin: 10px 0; } }
      .main-block .main-content .single-post .tags span {
        position: relative;
        padding-right: 8px; }
        .main-block .main-content .single-post .tags span:after {
          content: '/';
          position: absolute;
          top: 0;
          right: 0; }
      .main-block .main-content .single-post .tags span:last-child:after {
        content: ''; }
    .main-block .main-content .single-post .title {
      font-size: 19px;
      font-weight: 700; }
      @media screen and (max-width: 1600px) {
        .main-block .main-content .single-post .title {
          margin-bottom: 10px; } }
      @media screen and (max-width: 1023px) {
        .main-block .main-content .single-post .title {
          font-size: 16px;
          line-height: 20px; } }
    .main-block .main-content .single-post .button {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      background-color: #C2948E;
      padding: 10px 55px;
      cursor: pointer;
      -webkit-transition: -webkit-box-shadow .2s;
      transition: -webkit-box-shadow .2s;
      transition: box-shadow .2s;
      transition: box-shadow .2s, -webkit-box-shadow .2s; }
      @media screen and (max-width: 1600px) {
        .main-block .main-content .single-post .button {
          font-size: 17px; } }
      @media screen and (max-width: 1199px) {
        .main-block .main-content .single-post .button {
          font-size: 14px; } }
      @media screen and (max-width: 1023px) {
        .main-block .main-content .single-post .button {
          font-size: 12px;
          padding: 5px 20px; } }
      @media screen and (max-width: 767px) {
        .main-block .main-content .single-post .button {
          font-size: 15px;
          padding: 10px 55px;
          margin: 0 auto; } }
      @media screen and (max-width: 767px) {
        .main-block .main-content .single-post .button {
          padding: 10px 45px; } }
      .main-block .main-content .single-post .button:hover {
        -webkit-box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4);
                box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4); }
  .main-block .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    font-size: 12.5px; }
    @media screen and (max-width: 767px) {
      .main-block .pagination {
        margin-bottom: 30px; } }
    .main-block .pagination li {
      padding: 3px 10px;
      border-right: 1px solid #CFCFCF; }
      .main-block .pagination li a {
        color: #3C3C3B;
        -webkit-transition: all .2s;
        transition: all .2s; }
        .main-block .pagination li a:hover {
          text-decoration: underline;
          color: black; }
      .main-block .pagination li a.active {
        font-weight: 700;
        text-decoration: underline;
        color: black; }
    .main-block .pagination li:first-child {
      margin-right: 25px;
      border: none; }
      @media screen and (max-width: 767px) {
        .main-block .pagination li:first-child {
          display: none; } }
    .main-block .pagination li:last-child {
      margin-left: 25px;
      border: none; }
      @media screen and (max-width: 767px) {
        .main-block .pagination li:last-child {
          display: none; } }
    .main-block .pagination li:nth-last-child(2) {
      border: none; }

.sidebar .banner {
  display: block;
  width: 100%;
  height: auto; }

@media screen and (max-width: 767px) {
  .sidebar .popular-posts {
    text-align: center; } }

.sidebar .popular-posts p {
  font-size: 17px;
  font-weight: 700;
  margin: 20px 0 25px 0; }
  @media screen and (max-width: 1600px) {
    .sidebar .popular-posts p {
      font-size: 14px;
      margin: 15px 0 20px 0; } }

.sidebar .popular-posts .post {
  margin-bottom: 22px;
  -webkit-transition: background-color .6s;
  transition: background-color .6s; }
  @media screen and (max-width: 991px) {
    .sidebar .popular-posts .post {
      margin-bottom: 12px; } }
  @media screen and (max-width: 767px) {
    .sidebar .popular-posts .post {
      margin-bottom: 18px; } }
  .sidebar .popular-posts .post a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .sidebar .popular-posts .post a .tags {
      display: none;
      font-size: 10px;
      color: #C3C3C3;
      margin: 0;
      width: 100%; }
      @media screen and (max-width: 1600px) {
        .sidebar .popular-posts .post a .tags {
          font-size: 12px;
          line-height: 17px; } }
      @media screen and (max-width: 991px) {
        .sidebar .popular-posts .post a .tags {
          display: block;
          line-height: 15px;
          margin-bottom: 10px; } }
      @media screen and (max-width: 767px) {
        .sidebar .popular-posts .post a .tags {
          text-align: center; } }
      .sidebar .popular-posts .post a .tags span {
        position: relative;
        padding-right: 8px; }
        .sidebar .popular-posts .post a .tags span:after {
          content: '/';
          position: absolute;
          top: 0;
          right: 0; }
      .sidebar .popular-posts .post a .tags span:last-child:after {
        content: ''; }
      @media screen and (max-width: 991px) {
        .sidebar .popular-posts .post a .tags {
          display: block; } }
    .sidebar .popular-posts .post a .img-block {
      width: 50%;
      padding-right: 15px; }
      .sidebar .popular-posts .post a .img-block img {
        width: 100%;
        height: auto; }
    .sidebar .popular-posts .post a .text-block {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media screen and (max-width: 767px) {
        .sidebar .popular-posts .post a .text-block {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .sidebar .popular-posts .post a .text-block .tags {
        font-size: 10px;
        color: #C3C3C3;
        margin: 0;
        display: block; }
        @media screen and (max-width: 1600px) {
          .sidebar .popular-posts .post a .text-block .tags {
            font-size: 12px;
            line-height: 17px; } }
        @media screen and (max-width: 991px) {
          .sidebar .popular-posts .post a .text-block .tags {
            display: none; } }
        .sidebar .popular-posts .post a .text-block .tags span {
          position: relative;
          padding-right: 8px; }
          .sidebar .popular-posts .post a .text-block .tags span:after {
            content: '/';
            position: absolute;
            top: 0;
            right: 0; }
        .sidebar .popular-posts .post a .text-block .tags span:last-child:after {
          content: ''; }
      .sidebar .popular-posts .post a .text-block .title {
        font-size: 15px;
        line-height: 21px;
        font-weight: 700;
        margin: 0; }
        @media screen and (max-width: 1600px) {
          .sidebar .popular-posts .post a .text-block .title {
            font-size: 14px; } }
        @media screen and (max-width: 1199px) {
          .sidebar .popular-posts .post a .text-block .title {
            font-size: 12px;
            line-height: 17px; } }
        @media screen and (max-width: 991px) {
          .sidebar .popular-posts .post a .text-block .title {
            line-height: 15px; } }
        @media screen and (max-width: 767px) {
          .sidebar .popular-posts .post a .text-block .title {
            font-size: 19px;
            line-height: 27px;
            text-align: left;
            margin-bottom: 18px; } }
        @media screen and (max-width: 424px) {
          .sidebar .popular-posts .post a .text-block .title {
            font-size: 14px;
            line-height: 17px; } }
      .sidebar .popular-posts .post a .text-block .date {
        display: inline-block;
        font-size: 10px;
        color: #C3C3C3;
        margin: 0; }
        @media screen and (max-width: 1600px) {
          .sidebar .popular-posts .post a .text-block .date {
            font-size: 12px; } }
        @media screen and (max-width: 991px) {
          .sidebar .popular-posts .post a .text-block .date {
            line-height: 8px; } }
        @media screen and (max-width: 767px) {
          .sidebar .popular-posts .post a .text-block .date {
            text-align: left; } }

.sidebar .popular-posts .button {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  background-color: #C2948E;
  padding: 10px 55px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s; }
  @media screen and (max-width: 1600px) {
    .sidebar .popular-posts .button {
      font-size: 17px; } }
  @media screen and (max-width: 1199px) {
    .sidebar .popular-posts .button {
      font-size: 14px; } }
  @media screen and (max-width: 1023px) {
    .sidebar .popular-posts .button {
      font-size: 12px;
      padding: 5px 20px; } }
  @media screen and (max-width: 767px) {
    .sidebar .popular-posts .button {
      font-size: 15px;
      padding: 10px 55px;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .sidebar .popular-posts .button {
      padding: 10px 45px; } }
  .sidebar .popular-posts .button:hover {
    -webkit-box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 767px) {
    .sidebar .popular-posts .button {
      margin-top: 20px; } }

.sidebar .headings {
  padding: 50px 65px;
  border: 4px solid #d3ada8;
  margin-top: 25px; }
  @media screen and (max-width: 1600px) {
    .sidebar .headings {
      padding: 40px 35px; } }
  @media screen and (max-width: 1199px) {
    .sidebar .headings {
      padding: 35px; } }
  @media screen and (max-width: 767px) {
    .sidebar .headings {
      width: 285px;
      margin: 25px auto;
      text-align: center;
      padding: 20px; } }
  @media screen and (max-width: 424px) {
    .sidebar .headings {
      width: 100%; } }
  .sidebar .headings p {
    font-size: 17px;
    font-weight: 700;
    color: #d3ada8;
    text-transform: uppercase;
    margin-bottom: 40px; }
    @media screen and (max-width: 1600px) {
      .sidebar .headings p {
        font-size: 16px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 1199px) {
      .sidebar .headings p {
        font-size: 14px; } }
  .sidebar .headings .nav-item {
    display: block;
    font-size: 15px;
    color: #3C3C3B;
    margin-bottom: 25px;
    -webkit-transition: all .2s;
    transition: all .2s; }
    @media screen and (max-width: 1600px) {
      .sidebar .headings .nav-item {
        font-size: 14px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 1199px) {
      .sidebar .headings .nav-item {
        font-size: 12px;
        margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .sidebar .headings .nav-item {
        margin-bottom: 5px; } }
    .sidebar .headings .nav-item:hover {
      font-weight: 700;
      color: black;
      text-decoration: underline; }
  .sidebar .headings .nav-item:last-child {
    margin-bottom: 0; }

.footer hr {
  margin: 0 -15px 0 -15px;
  background-color: #CFCFCF;
  height: 1px; }
  @media screen and (max-width: 767px) {
    .footer hr {
      display: none; } }

.footer .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0; }
  @media screen and (max-width: 1199px) {
    .footer .nav-bar {
      padding: 10px 0; } }
  @media screen and (max-width: 1023px) {
    .footer .nav-bar {
      padding: 7px 0; } }
  @media screen and (max-width: 767px) {
    .footer .nav-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 20px 0; } }
  .footer .nav-bar .nav-item {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #3C3C3B;
    text-transform: uppercase;
    cursor: pointer; }
    @media screen and (max-width: 1600px) {
      .footer .nav-bar .nav-item {
        font-size: 14px; } }
    @media screen and (max-width: 1199px) {
      .footer .nav-bar .nav-item {
        font-size: 12px; } }
    @media screen and (max-width: 767px) {
      .footer .nav-bar .nav-item {
        padding: 3px 0; } }
    .footer .nav-bar .nav-item:hover {
      text-decoration: underline;
      -webkit-text-decoration-color: #AAAAA9;
              text-decoration-color: #AAAAA9; }

.footer .nav-bar {
  min-height: 90px;
  padding-left: 250px;
  position: relative; }
  @media screen and (max-width: 1700px) {
    .footer .nav-bar {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media screen and (max-width: 767px) {
    .footer .nav-bar {
      padding-left: 0; } }
  .footer .nav-bar:after {
    display: none; }
  @media screen and (max-width: 1700px) {
    .footer .nav-bar .nav-item {
      width: 30%; } }
  @media screen and (max-width: 767px) {
    .footer .nav-bar .nav-item {
      width: 100%;
      font-size: 14px;
      text-align: center; } }

.footer svg {
  position: absolute;
  left: 0;
  top: 8px;
  width: 220px;
  height: auto; }
  @media screen and (max-width: 767px) {
    .footer svg {
      display: none; } }

.footer .mobileLogo {
  display: none; }
  @media screen and (max-width: 767px) {
    .footer .mobileLogo {
      position: initial;
      display: block;
      margin-bottom: 30px; } }

.footer .copyright {
  background-color: #d3ada8;
  padding: 10px 0; }
  .footer .copyright p {
    font-size: 10px;
    color: white;
    margin: 0; }
    @media screen and (max-width: 767px) {
      .footer .copyright p {
        text-align: center;
        font-size: 12px; } }

.article-header .article {
  padding-top: 40px;
  font-size: 14.2px; }
  .article-header .article .category {
    font-size: 16.5px;
    font-weight: bold;
    color: #d3ada8;
    text-align: center; }
  .article-header .article h4 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin: 0; }
  .article-header .article .under-title {
    font-size: 16.5px;
    font-weight: bold;
    color: #d3ada8;
    text-align: center;
    margin-top: 30px; }
  .article-header .article hr {
    height: 1px;
    width: 250px;
    background-color: #CFCFCF;
    margin: 30px auto; }
  .article-header .article .short-content {
    text-align: center;
    padding: 0 10%; }
    @media screen and (max-width: 767px) {
      .article-header .article .short-content {
        padding: 0; } }

.article-header .story-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .article-header .story-text p {
    font-size: 17px; }
    @media screen and (max-width: 991px) {
      .article-header .story-text p {
        padding-top: 25px; } }

.article-header .story-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  @media screen and (max-width: 991px) {
    .article-header .story-image {
      -webkit-box-ordinal-group: initial;
          -ms-flex-order: initial;
              order: initial; } }
  .article-header .story-image img {
    width: 100%;
    height: auto; }

.main-block .article {
  position: relative; }
  .main-block .article .article-pic {
    width: 100%;
    height: auto; }
  .main-block .article .article-portrait {
    position: absolute;
    left: 15px;
    width: 80px;
    height: auto;
    margin-top: 45px; }
    @media screen and (max-width: 767px) {
      .main-block .article .article-portrait {
        position: initial;
        margin: 25px auto;
        display: block; } }
  .main-block .article .article-content {
    padding-left: 90px;
    padding-top: 45px;
    font-size: 14.2px; }
    @media screen and (max-width: 767px) {
      .main-block .article .article-content {
        padding: 0; } }
  .main-block .article .article-story {
    padding-top: 45px;
    font-size: 14.2px; }
  .main-block .article .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0; }
    .main-block .article .rating svg {
      width: 28px;
      height: 30px;
      margin: 0 7px; }
    .main-block .article .rating .active ~ svg .cls-heart {
      fill: #E8E8E8; }

.main-block .next-article {
  padding-top: 30px; }
  .main-block .next-article .upper-title {
    font-size: 12.5px;
    text-transform: uppercase;
    text-align: center; }
  .main-block .next-article h4 {
    font-size: 28.17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 45px; }
  .main-block .next-article .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px; }
    @media screen and (max-width: 767px) {
      .main-block .next-article .post {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0; } }
    .main-block .next-article .post img {
      width: calc(50% - 15px);
      height: auto; }
      @media screen and (max-width: 767px) {
        .main-block .next-article .post img {
          width: 100%; } }
    .main-block .next-article .post .text-content {
      width: calc(50% - 15px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      padding-bottom: 25px; }
      @media screen and (max-width: 767px) {
        .main-block .next-article .post .text-content {
          width: 100%;
          padding: 15px 0; } }
      .main-block .next-article .post .text-content p {
        font-size: 12px; }
      .main-block .next-article .post .text-content .button {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        background-color: #C2948E;
        padding: 10px 55px;
        cursor: pointer;
        -webkit-transition: -webkit-box-shadow .2s;
        transition: -webkit-box-shadow .2s;
        transition: box-shadow .2s;
        transition: box-shadow .2s, -webkit-box-shadow .2s;
        font-size: 11px;
        position: absolute;
        bottom: 0;
        margin-top: auto; }
        @media screen and (max-width: 1600px) {
          .main-block .next-article .post .text-content .button {
            font-size: 17px; } }
        @media screen and (max-width: 1199px) {
          .main-block .next-article .post .text-content .button {
            font-size: 14px; } }
        @media screen and (max-width: 1023px) {
          .main-block .next-article .post .text-content .button {
            font-size: 12px;
            padding: 5px 20px; } }
        @media screen and (max-width: 767px) {
          .main-block .next-article .post .text-content .button {
            font-size: 15px;
            padding: 10px 55px;
            margin: 0 auto; } }
        @media screen and (max-width: 767px) {
          .main-block .next-article .post .text-content .button {
            padding: 10px 45px; } }
        .main-block .next-article .post .text-content .button:hover {
          -webkit-box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4);
                  box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4); }
        @media screen and (max-width: 767px) {
          .main-block .next-article .post .text-content .button {
            position: initial;
            margin-left: 0; } }
        @media screen and (max-width: 424px) {
          .main-block .next-article .post .text-content .button {
            margin: auto; } }
  .main-block .next-article .article-pic {
    width: 100%;
    height: auto; }
    @media screen and (max-width: 991px) {
      .main-block .next-article .article-pic {
        display: none; } }

.main-block .story-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .main-block .story-articles .post {
    width: 33.3%;
    padding: 50px 15px; }
    @media screen and (max-width: 767px) {
      .main-block .story-articles .post {
        width: 100%;
        padding: 15px 0; } }
    .main-block .story-articles .post .name {
      font-size: 19.16px;
      font-weight: bold;
      text-align: center;
      margin: 10px 0; }
    .main-block .story-articles .post .under-title {
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: #d3ada8; }
    .main-block .story-articles .post img {
      width: 100%;
      height: auto;
      padding: 0 10px; }
      @media screen and (max-width: 767px) {
        .main-block .story-articles .post img {
          width: calc(50% - 10px);
          padding: 0 10px 0 0; } }
      @media screen and (max-width: 424px) {
        .main-block .story-articles .post img {
          width: 80%;
          display: block;
          margin: 0 auto 20px auto;
          padding: 0; } }
    .main-block .story-articles .post .text-content {
      text-align: center; }
      @media screen and (max-width: 767px) {
        .main-block .story-articles .post .text-content {
          display: inline-block;
          vertical-align: middle;
          width: calc(50% - 10px);
          padding-left: 10px;
          text-align: left; } }
      @media screen and (max-width: 424px) {
        .main-block .story-articles .post .text-content {
          width: 100%;
          text-align: center;
          padding: 0; } }
      .main-block .story-articles .post .text-content .name {
        font-size: 19.16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0; }
        @media screen and (max-width: 767px) {
          .main-block .story-articles .post .text-content .name {
            display: none; } }
      .main-block .story-articles .post .text-content .under-title {
        font-size: 11px;
        font-weight: bold;
        padding: 0 15%;
        color: #d3ada8; }
        @media screen and (max-width: 767px) {
          .main-block .story-articles .post .text-content .under-title {
            display: none; } }
      .main-block .story-articles .post .text-content .short-content {
        font-size: 11px; }
        @media screen and (max-width: 767px) {
          .main-block .story-articles .post .text-content .short-content {
            font-size: 12px; } }
      .main-block .story-articles .post .text-content .button {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        background-color: #C2948E;
        padding: 10px 55px;
        cursor: pointer;
        -webkit-transition: -webkit-box-shadow .2s;
        transition: -webkit-box-shadow .2s;
        transition: box-shadow .2s;
        transition: box-shadow .2s, -webkit-box-shadow .2s;
        font-size: 11px !important;
        padding: 5px 55px; }
        @media screen and (max-width: 1600px) {
          .main-block .story-articles .post .text-content .button {
            font-size: 17px; } }
        @media screen and (max-width: 1199px) {
          .main-block .story-articles .post .text-content .button {
            font-size: 14px; } }
        @media screen and (max-width: 1023px) {
          .main-block .story-articles .post .text-content .button {
            font-size: 12px;
            padding: 5px 20px; } }
        @media screen and (max-width: 767px) {
          .main-block .story-articles .post .text-content .button {
            font-size: 15px;
            padding: 10px 55px;
            margin: 0 auto; } }
        @media screen and (max-width: 767px) {
          .main-block .story-articles .post .text-content .button {
            padding: 10px 45px; } }
        .main-block .story-articles .post .text-content .button:hover {
          -webkit-box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4);
                  box-shadow: inset 0 2px 20px 0 rgba(0, 0, 0, 0.4); }
  .main-block .story-articles .article-pic {
    width: 100%;
    height: auto; }

.main-block .more-btn {
  display: block;
  text-align: center;
  margin: 50px auto;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 21px; }

.article-sidebar p {
  margin-top: -5px;
  font-weight: bold; }
  @media screen and (max-width: 991px) {
    .article-sidebar p {
      margin-top: 15px; } }

@media screen and (max-width: 991px) {
  .article-sidebar .popular-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media screen and (max-width: 991px) {
  .article-sidebar .popular-posts .post {
    width: calc(50% - 15px); } }

@media screen and (max-width: 767px) {
  .article-sidebar .popular-posts .post {
    width: 100%; } }

.article-sidebar .popular-posts .post a .text-block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 767px) {
    .article-sidebar .popular-posts .post a .text-block {
      text-align: left; } }
  .article-sidebar .popular-posts .post a .text-block h4 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .article-sidebar .popular-posts .post a .text-block h4 {
        margin-bottom: 0; } }
  .article-sidebar .popular-posts .post a .text-block .short-content {
    font-size: 12px;
    font-weight: normal; }

@media screen and (max-width: 991px) {
  .article-sidebar .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px; } }

@media screen and (max-width: 767px) {
  .article-sidebar .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media screen and (max-width: 991px) {
  .article-sidebar .wrapper .banner {
    width: calc(50% - 15px);
    height: auto; } }
  @media screen and (max-width: 991px) and (max-width: 767px) {
    .article-sidebar .wrapper .banner {
      width: 100%; } }

@media screen and (max-width: 991px) {
  .article-sidebar .wrapper .inner-wrapper {
    width: calc(50% - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 767px) {
  .article-sidebar .wrapper .inner-wrapper {
    width: 100%; } }

.article-sidebar .wrapper .inner-wrapper .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 30px 0; }
  @media screen and (max-width: 991px) {
    .article-sidebar .wrapper .inner-wrapper .search {
      margin-top: 0; } }
  @media screen and (max-width: 767px) {
    .article-sidebar .wrapper .inner-wrapper .search {
      margin: 20px 0; } }
  .article-sidebar .wrapper .inner-wrapper .search span {
    font-size: 17px;
    font-weight: 700; }
    @media screen and (max-width: 1600px) {
      .article-sidebar .wrapper .inner-wrapper .search span {
        font-size: 14px; } }
  .article-sidebar .wrapper .inner-wrapper .search input {
    width: 80%;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin-left: 30px;
    font-size: 9px;
    padding: 6px 23px 6px 10px; }
    .article-sidebar .wrapper .inner-wrapper .search input::-webkit-input-placeholder {
      font-weight: 300; }
    .article-sidebar .wrapper .inner-wrapper .search input:-ms-input-placeholder {
      font-weight: 300; }
    .article-sidebar .wrapper .inner-wrapper .search input::-ms-input-placeholder {
      font-weight: 300; }
    .article-sidebar .wrapper .inner-wrapper .search input::placeholder {
      font-weight: 300; }
  .article-sidebar .wrapper .inner-wrapper .search svg {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    height: auto; }

.article-sidebar .wrapper .inner-wrapper .headings {
  margin-top: 0; }
